<a href="https://colab.research.google.com/github/mikesabbath18/MyFirstRep/blob/main/intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
# Create a Series from a list

#data = [1,2,3.5,4,5,6,9]
#data2 = ['milk','bread','eggs','water','apples']

#d2 = pd.Series(data2)
#d = pd.Series(data)

#print(d2)

# Create DataFrame (from dictionary)

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago